.container-card {
  margin: 8px;
}

.text-area {
  width: 400px;
}

.energy-report-header {
  display: flex;
  font-size: 2rem;
  color: #333;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  padding: 20px;
}
